.app {
  display: flex;
}

.toggle-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: #004aad;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}
